@media (min-width: 540px) {
  min-width: 540px;
}

@media (max-width: 540px) {
  max-width: 540px;
}

@media (min-width: 720px) {
  min-width: 720px;
}

@media (max-width: 720px) {
  max-width: 720px;
}

@media (min-width: 960px) {
  min-width: 960px;
}

@media (max-width: 960px) {
  max-width: 960px;
}

@media (min-width: 1140px) {
  min-width: 1140px;
}

@media (max-width: 1140px) {
  max-width: 1140px;
}

@media (min-width: 1320px) {
  min-width: 1320px;
}

@media (max-width: 1320px) {
  max-width: 1320px;
}

@media (max-width: 666px) {
  .class {
    a: red;
  }
}
