.hexcolor {
  c1c2mix1: #a8a8a8;
  c1c2mix2: #a8a8a8;
  color1: #50ffff;
  color2: #ff5050;
}

.rgba {
  c1c2mix1: rgba(58, 58, 160, 0.5);
  c1c2mix2: rgba(59, 23, 172, 0.625);
  color2: rgba(50, 230, 100, 0.25);
}

.rgba-mix0-mix100 {
  c1: rgba(0, 150, 0, 0);
  c1: rgba(0, 150, 0, 0.25);
  c1: #009600;
  c1: rgba(0, 150, 0, 0);
  c1: rgba(0, 150, 0, 0.25);
  c1: #009600;
  c1: rgba(0, 150, 0, 0);
  c1: rgba(0, 150, 0, 0.25);
  c1: #009600;
  c1: rgba(50, 0, 255, 0);
  c1: rgba(50, 0, 255, 0);
  c1: rgba(50, 0, 255, 0);
  c1: rgba(50, 0, 255, 0.25);
  c1: rgba(50, 0, 255, 0.25);
  c1: rgba(50, 0, 255, 0.25);
  c1: #3200ff;
  c1: #3200ff;
  c1: #3200ff;
}

.hsl {
  c1c2mix1: #709878;
  c1c2mix2: #606c54;
  color2: #504030;
}

.hsla {
  c1c2mix1: rgba(20, 67, 165, 0.5);
  c1c2mix2: rgba(20, 67, 165, 0.5);
  color2: rgba(46, 66, 115, 0.35);
}

.misc {
  c1: rgba(75, 139, 75, 0.75);
  c2: rgba(89, 30, 49, 0.65);
  c3: rgba(87, 186, 44, 0.975);
}

.named {
  c1: rgba(71, 71, 71, 0.875);
  c2: #006699;
  c3: rgba(247, 3, 8, 0.86);
}
