$colors-base: (
  "primary":    orange,
  "secondary":  yellow,
  "success":    green,
);

@mixin map-args( $primary, $secondary, $success, $value: red( $primary ) ) {
    p: $primary;
    s: $success;
    v: $value;
}

.tag {
  color: map-get( $colors-base, "primary" );
  other: map-get( $colors-base, "doesNotExists" );

  @each $key in map-keys($colors-base) {
    #{$key}: map-get( $colors-base, $key );
  }

  $primary:   "ignore this value";
  $secondary: "ignore this value";
  $success:   "ignore this value";
  $value:     "ignore this value";
  @include map-args( $colors-base... );
}

.mapWithSpacesList {
    $values: (fill: 1 1 auto);
    type: type-of($values);
    @each $key, $value in $values {
        k: $key;
        v: $value;
    }
}
