$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

@mixin content-mixin() {
   @content;
}

@each $breakpoint, $container-max-width in $container-max-widths {
    @include content-mixin {

      .class %responsive-container-#{$breakpoint} {
        max-width: $container-max-width;
      }

      .container-#{$breakpoint} {
          @extend %responsive-container-#{$breakpoint};
      }
    }
}
